/* Written by Agrim Budakoti at 18/1/2024 23:40 IST */

html {width: 100%; scroll-behavior: smooth;}

body {
    background-color: rgb(0, 0, 0);
    color: #FFFFFF;
}
#titleheading{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#titlecar {
    position: absolute;
    width: 90%;
    height: 100%;
    display: block;
    margin-top: 8%;
    padding-top: 0%;
    z-index: 2;
    object-fit: cover;
    filter: brightness(50%) contrast(106%);
}
#titletext{
    width: 100%;
    text-align: center;
    font-size: 12vw;
    font-weight: 200;
    padding: 20px;
    text-shadow: 0px 0px 15px rgb(181, 150, 255);

}
.bodysections p.heading {
    font-weight: 300;
    font-size: 6vw;
}

#mainbody{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#maincontent{
    width: 80%;
    z-index: 3;
    text-align: center;
}

.bodysections:nth-of-type(odd){
    text-align: left;
}
.bodysections:nth-of-type(even){
    text-align: right;
}

.bodysections{
    display: grid;
    z-index: 3;
    border: 1px solid var(--dark);
    background-color: rgb(13, 13, 13);
    box-shadow: inset 0px 0px 5px var(--dark), 10px 10px 55px var(--dark);
    border-radius: 20px;
    margin: 100px 0px 10px 0px;
    width: 100%;
    padding: 1px 50px 40px 50px;
    overflow: hidden;
}

.project{
    display: grid;
    z-index: 4;
    border: 1px solid var(--dark);
    background-color: rgb(13, 13, 13);
    box-shadow: inset 0px 0px 3px var(--dark), 0px 0px 5px var(--dark);
    border-radius: 20px;
    margin: 100px 10px 10px 10px;
    padding: 1px 50px 30px 50px;
}

.projectheading{
    font-size: 4em;
    margin-bottom: 30px;
    height: 100%;
}

.projectdescription{
    margin-bottom: 50px;
    font-weight: 200;
    font-size: 2em;
}

.sectioncontent{
    font-size: 2rem;
    font-weight: 100;
}

.project *{
    animation: none;
    transition: none;
}

.project img{
    height: 300px;
}
.controlscontainer{
    margin-top: 1000px;
    background-color: blanchedalmond;
}
.slideshowcontrols{
    width: 150px;
    height: 30px;
}
.gallery{
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 100%;
    overflow-x: auto;
    gap: 5px;
}
.gallery img{
    width: 5vw;
    height: 100%;
    object-fit: cover;
    transition: all cubic-bezier(0.45, 0.18, 0.32, 0.97) 1s;
}
.gallery img:hover{
    width: 100%;
    cursor: pointer;
}
.gameembed{
    width: 80%;
    height: 15%;
    margin-top: 1%;
}

#logos img{
    filter: drop-shadow(0 0 1px var(--primary));
}

/* Small screens */
@media screen and (max-width: 720px) {
    #tns1 > .tns-item{
        height: 400px;
    }
    .project img{
        height: 200px;
    }
    .gameembed{
        width: 100%;
        height: 15%;
        margin-top: 1%;
    }
}